<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="index2.html">Dashboard2</a></li>
                    <li><a href="index3.html">Dashboard3</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Administration <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Departement" asp-action="Index">Gestion des départements</a></li>
                    <li><a asp-controller="User" asp-action="Index">Gestion des Utilisateurs</a></li>
                    <li><a asp-controller="Employee" asp-action="Index">Gestion des Employés</a></li>                   
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop"></i> Ressources Humaines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Evaluation" asp-action="Index">Gestion des Evaluations</a></li>
                    <li><a asp-controller="Risk" asp-action="Index">Gestion des Risques</a></li>
                    <li><a asp-controller="Action" asp-action="Index">Gestion des Actions</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-table"></i> Projets <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Project" asp-action="Index">Gestion des projets</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
    

</div>
