@model NeoXamFrontNetCore.Entities.Employee

@{
    ViewData["Title"] = "Create";
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Ajouter un employé</h3>
            </div>


        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                    </div>
                    <div class="x_content">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Poste" class="control-label"></label>
                                <input asp-for="Poste" class="form-control" />
                                <span asp-validation-for="Poste" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NumTel" class="control-label"></label>
                                <input asp-for="NumTel" class="form-control" />
                                <span asp-validation-for="NumTel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Salaire" class="control-label"></label>
                                <input asp-for="Salaire" class="form-control" />
                                <span asp-validation-for="Salaire" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nom" class="control-label"></label>
                                <input asp-for="Nom" class="form-control" />
                                <span asp-validation-for="Nom" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Prenom" class="control-label"></label>
                                <input asp-for="Prenom" class="form-control" />
                                <span asp-validation-for="Prenom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Role" class="control-label"></label>
                                <select asp-for="Role" class="form-control">
                                    <option value="Employe">Employé</option>
                                    <option value="RH">Ressource humaine</option>
                                    <option value="Admin">Administrateur</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>

                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

