@model List<Departement>
@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Gestion des départements</h3>
            </div>


        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Départements <small>Liste complète</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Code département</th>
                                    <th>Libellé</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dep in Model)
                                {
                                <tr>
                                    <td>
                                        @dep.Code
                                    </td>
                                    <td>
                                        @dep.Libelle
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Departement" asp-route-id="@dep.Code" class="btn btn-warning"> Modifier</a>
                                        <a asp-action="Delete" asp-controller="Departement" asp-route-id="@dep.Code" class="btn btn-danger"> Supprimer</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
